{{!-- <h1>About</h1>
<h6>We believe that every human has a talent that is waiting to be seen. There are so many talented people out there who have
never had the chance to show the world what they've got.</h6>
<h6>This is your chance.</h6>
<h6>Whether you are seasoned in your craft or just curious what the world might think of your hidden talent, this is your place
to show it off and auction your work off for charity. For a small monthly fee, you can also choose to sell your work
for a profit! You never know who is looking. </h6> --}}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Show the world what you've got!
        <small>List your talent and auction it for charity or profit.</small>
      </h1>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://afremov.com/image.php?type=P&id=21316" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Ryan Dawson - Artist</a>
              </h4>
              <p class="card-text">I have been painting for about 5 years now.  Please feel free to view and comment on my work.  I set up a gallery and the proceeds for my work are going to my church.  Thank you for viewing my work.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.ytimg.com/vi/01sNGHnties/maxresdefault.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Tracy Epson</a>
              </h4>
              <p class="card-text">I am working on a horror fiction novel.  I have included some of my work in my project files.  I am looking for a writing partner.  If anybody is interested, please send me a link to some of your projects and we can see if we are a fit.  Thank you!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://musiclaunchpad.com/blog/wp-content/uploads/2017/04/guitarist-wanted.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Joey S. - Guitarist</a>
              </h4>
              <p class="card-text">I love playing the guitar and I feel like I am getting pretty good at it.  I decided to put a CD together.  They are all originals.  I hope you enjoy them.  I am going to use the money to go on tour.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

   
