
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Have you ever considered selling your work?</h1>
    <p class="lead">By signing up with us you will have the opportunity to be seen by all 1 of our viewers. Each user has their own shopping cart and gallery. You will also have the option to auction of your work for charity or profit.  We believe that within each person, lies a diamond in the rough.  Some are just waiting to be seen.  Let the world know the real you today!</p>
  </div>
</div>