

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

       

          <main role="main" class="inner cover">
            <h1 class="cover-heading"></h1>

             {{!-- Coming from index route in app.js --}}
<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p>List your projects</p>
    <a href="/projects/add" class="btn btn-dark btn-lg">Add Project</a>
</div>
           
          </main>

          <footer class="mastfoot">
            <div class="inner">
       
            </div>
          </footer>