<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">



        <main role="main" class="inner cover">
          <h1 class="cover-heading"></h1>


          <img src="http://samsantiqueblog.com/wp-content/uploads/2017/04/flawless-diamond.png" class="rounded float-right" alt="">
          <div class="jumbotron">
            <h1 class="display-3">{{title}}</h1>
            <h6 class="text-right">In every person, lies a diamond in the rough just wating to shine through. </h6>

            <p>We believe that every human has a talent that is waiting to be seen. There are so many talented people out there
              who have never had the chance to show the world what they've got. This is your chance. Whether you are seasoned
              in your craft or just curious what the world might think of your hidden talent, this is your place to show
              it off and auction your work off for charity. For a small monthly fee, you can also choose to sell your work
              for a profit! You never know who is looking.</p>
            <p>
              <a class="btn btn-primary btn-lg" href="/users/register">Sign Up!</a>
            </p>
          </div>
      </div>
      <div class="card text-white bg-success">
        <div class="card-body">
          <blockquote class="card-blockquote my-4">
            <p>"Cemeteries are full of unfulfilled dreams, countless echoes of ‘could have’ and ‘should have’, countless books
              unwritten, countless songs unsung... I want to live my life in such a way that when my body is laid to rest,
              it will be a well needed rest from a life well lived, a song well sung, a book well written, opportunities
              well explored, and a love well expressed".
              <cite title="Source Title"> -Steve Maraboli</cite>
              </footer>
          </blockquote>
        </div>
      </div>

</body>

</main>