<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Need Collaboration?</h1>
    <p class="lead">This is your place to connect with other Diamond users that have the same interests.  We have also included links to local groups and sites that can help you to master your craft.  It is amazing what can be accomplished with a little team effort!</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">

     
      <iframe width="225" height="570" src="http://meetu.ps/3fqmxr" frameborder="0"></iframe>
    </div>
    <div class="col-sm">
     <iframe width="225" height="570" src="http://meetu.ps/3fqmFG" frameborder="0"></iframe>
    </div>
    <div class="col-sm">
      <iframe width="225" height="570" src="http://meetu.ps/3fqnqG" frameborder="0"></iframe>
    </div>
  </div>
</div>




